@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
.container {
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-justify-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-start {
  display: flex;
  justify-content: flex-start;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-end {
  display: flex;
  align-items: flex-end;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-align-stretch {
  display: flex;
  align-items: stretch;
}

.flex-align-self-end {
  display: flex;
  align-self: flex-end;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 800;
}

.text-2 {
  font-size: 18px;
}

.text-5 {
  font-size: 25px;
}

.full-height {
  height: calc(100vh - 60px);
}

.full-width {
  width: 100%;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.min-height-40 {
  min-height: 40px;
}

.color-block {
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  &.blue {
    background: linear-gradient(130deg,rgba(255,255,255,.5),rgba(255,255,255,0) 33%,rgba(255,255,255,0)),linear-gradient(104deg,#5ea0cf,#498ebe),linear-gradient(#5ea0cf,#5ea0cf)
  }

  &.orange {
    background-image: linear-gradient(150deg,rgba(255,255,255,.5),rgba(255,255,255,0) 33%,rgba(255,255,255,0)),linear-gradient(117deg,#f60,#eb5600),linear-gradient(#f60,#f60);
  }

  &.yellow {
    background-image: linear-gradient(150deg,rgba(255,255,255,.5),rgba(255,255,255,0) 33%,rgba(255,255,255,0)),linear-gradient(117deg,#ff0,#f0a296),linear-gradient(#ff0,#ff0);
  }
}

.flex-1 {
  flex: 1;
}

.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   outline: none !important;

   &:focus, &:active {
     border: 0 !important;
     outline: none !important;
   }
}
